:root {
  --clr-code-hue: 243;
  --clr-blue-bg1: rgb(0, 0, 200);
  --clr-blue-bg2: rgb(0, 0, 128);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  color: white;
  background: navy;
  background: linear-gradient(to right, var(--clr-blue-bg1) 25%, var(--clr-blue-bg2) 100%, var(--clr-blue-bg1) 25%);
  margin-bottom: 1em;
  padding: 0.35em 0.4em;
  border-radius: 6px;
}

code {
  padding: 0.33em;
  background-color: rgb(var(--clr-code-hue), var(--clr-code-hue), var(--clr-code-hue));
}